@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1E90FF, #9B30FF);
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}



h1 {
  font-size: 3.5rem;
  color: #ffffff;
  text-shadow: 0 0 10px #1E90FF, 0 0 20px #9B30FF;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  background: #fff;
  color: #1E90FF;
  padding: 15px 30px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #9B30FF;
}

.button:hover {
  background: #9B30FF;
  color: #fff;
  box-shadow: 0 0 20px #ffffff;
}

.event-card {
  background: rgba(255, 255, 255, 0.1);
  margin: 20px;
  
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.event-card h3 {
    margin-bottom: 10px;
  }

  .event-card p {
    margin: 6px 0;
  }

  .event-card div {
    margin-top: 12px;
  }

  .event-card button {
    padding: 10px 20px;
  }

  

  .event-card button {
    margin-right: 0;
    background-color: #a7ff3c;
    border-radius: 10px;

  }

.event-card button:hover {
    background-color: #42a410;
    color: #fff;
  }

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #ffffff66;
}

h2, h3 {
  text-align: center;
  text-shadow: 0 0 5px #00000099;
}

.events-section {
  width: 100% ;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  
}

li.event-card {
  list-style: none;
  margin: 20px 0;
}


